---
name: Build

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - name: build
        run: cargo build